<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./import.ejs') %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/md5.js"></script>

    <script src="hash.js" type="module"></script>
    <script src="register.js" type="module" defer></script>
  </head>
  <body>
    <%- include('./nav.ejs') %>

    <!-- <form id="registerForm">
      <input type="text" placeholder="username" name="username" id="username" />
      <br />
      <input
        type="password"
        placeholder="password"
        name="password"
        id="password"
      />
      <br />
      <input
        type="password"
        placeholder="Confirm Password"
        name="ConfirmPassword"
        id="passwordConfirm"
      />
      <p id="errorText"></p>
      <p id="infoText"></p>
      <input type="submit" value="Register" />
    </form> -->
    <div id="center">
      <form id="registerForm">
        <div class="form-group">
          <label for="exampleInputEmail1">Username</label>
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            placeholder="Your username here"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Password"
            name="password"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input
            type="password"
            class="form-control"
            id="passwordConfirm"
            placeholder="Confirm Password"
            name="ConfirmPassword"
          />
        </div>
        <p id="errorText"></p>
        <p id="infoText"></p>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </body>
</html>
