.card-body {
  margin: 10px;
}

.card {
}

#center {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}

.navbar-brand {
  margin-left: 10px;
}

.card-title {
  font-size: 30px;
}